<h2>"{{song.name}}" by {{song.artist}}</h2>

<div class="clearfix">
<a href="/users/{{song.userId}}/playlists/{{song.playlistId}}/songs" class="back-to-playlist">Back to Playlist</a>

</div>

<ul>
<li class="profile-item"><span class="profile-info">Title: </span> "{{song.name}}"</li>
<li class="profile-item"><span class="profile-info">Artist: </span> {{song.artist}}</li>
<li class="profile-item"><span class="profile-info">Genre: </span> {{song.genre}}</li>
<li class="profile-item"><span class="profile-info">Tempo: </span> {{song.tempo}}</li>
{{!-- <li>Listen: {{song.file}}</li> --}}
</ul>

<form method="POST" action="/songs/{{song._id}}?_method=DELETE">
<input type="submit" class="btn btn-danger" value="Remove Song">
</form>