<h2>"{{song.name}}" by {{song.artist}}</h2>

<ul>
<li>Title: "{{song.name}}"</li>
<li>Artist: {{song.artist}}</li>

<li>Genre: {{song.genre}}</li>
<li>Tempo: {{song.tempo}}</li>
{{!-- <li>Listen: {{song.file}}</li> --}}
</ul>

<form method="POST" action="/songs/{{song._id}}?_method=DELETE">
<input type="submit" class="btn btn-danger" value="Remove Song">
</form>