<h2>Edit Playlist</h2>


<form method="POST" action="/users/{{playlist.userId}}/playlists/{{playlist._id}}?_method=PUT">

    <div class="form-group">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" id="name" value="{{playlist.name}}">
    </div>

    <div class="form-group">
        <label for="genre" class="form-label">Genre</label>
        <select class="custom-select" name="genre" id="genre">
            <option selected>{{playlist.genre}}</option>
            <option>Alternative</option>
            <option>Hip Hop</option>
            <option>Pop</option>
            <option>Electronic</option>
            <option>Rock</option>
            <option>Jazz</option>
            <option>Reggae</option>
            <option>Classical</option>
        </select>
    </div>

    <div class="form-group">
        <label for="tempo" class="form-label">Tempo</label>
        <select class="custom-select" name= "tempo" id="tempo">
            <option selected>{{playlist.tempo}}</option>
            <option>Slow</option>
            <option>Medium</option>
            <option>Fast</option>
        </select>
    </div>

    <input type="submit" class="btn btn-primary" value="Update Playlist" />

</form>
