<h2>All Playlists</h2>
{{!-- {{#each user._id.playlist}}
{{name}}
{{genre}}

{{/each}} --}}

{{#each playlists}}

<ul>

<li><a href="/users/{{user._id}}/playlists/{{_id}}">{{name}}</a></li>

<li>{{name}}</li>

<li>{{genre}}</li>

<li>{{tempo}}</li>

</form>


</ul>
{{/each}}


<a href="/users/{{user._id}}/playlists/new" class="badge badge-success">Add New Playlist</a>