<h2>One Playlist</h2>

<ul>
<li>{{playlist.name}}</li>
<li>{{playlist.genre}}</li>
<li>{{playlist.tempo}}</li>

</ul>

<a href="/playlists/{{playlist._id}}/edit" class="badge badge-primary">Edit Playlist</a>

    <form action="/playlists/{{playlist._id}}?_method=DELETE" method="POST">
<input type="submit"  class="btn btn-danger" value="Delete Playlist">
</form>