<h2>{{playlist.name}}</h2>

<div class="clearfix">
<a href="/users/{{playlist.userId}}/playlists" class="back-to-playlists">Back to All Playlists</a>
<a href="/users/{{playlist.userId}}/playlists/{{playlist._id}}/edit" class="edit-playlist">Edit Playlist Info</a>
</div>

<div>
<p class="sublist-item-genre">{{playlist.genre}}</p>
<p class="sublist-item-tempo">{{playlist.tempo}}</p>
</div>


{{#each songs}} 
<ul id="song-detailed">
   
<li class="name"> <a href="/users/{{userId}}/playlists/{{playlistId}}/songs/{{_id}}">"{{name}}"</a></li>
<li class="artist">/ {{artist}} /</li>

<li class="genre"> {{genre}} /</li>
<li class="tempo"> {{tempo}}</li>
{{!-- <li class="file">{{file}}</li> --}}
<li> 
        <form action="/users/{{userId}}/playlists/{{playlistId}}/songs/{{_id}}?_method=DELETE" method="POST">
<input type="submit"  class="btn btn-warning btn-sm" value="Remove Song">


</form>
</li>
</ul>
{{/each}}





{{!-- <a href="/users/{{playlist.userId}}/playlists/{{playlist._id}}/songs/new">Add New Song To Playlist</a> --}}

<form>
<input type="button" value="Add New Song To Playlist" onclick="window.location.href='/users/{{playlist.userId}}/playlists/{{playlist._id}}/songs/new'" class="btn btn-outline-primary"/>
</form>


    <form action="/users/{{playlist.userId}}/playlists/{{playlist._id}}?_method=DELETE" method="POST">
<input type="submit"  class="btn btn-danger btn-sm" value="Delete Playlist">
</form>


