<a href="/users">Back to All Users</a>

<h2>All {{user.name}}'s Playlists</h2>

<a href="/users/{{user._id}}">View {{user.name}}'s Profile</a>
{{!-- {{#each user._id.playlist}}
{{name}}
{{genre}}

{{/each}} --}}

{{#each playlists}}

<ul>

<li><a href="/users/{{userId}}/playlists/{{_id}}/songs">{{name}}</a></li>



<li class="sublist-item">{{genre}}</li>

<li  class="sublist-item">{{tempo}}</li>

</form>


</ul>
{{/each}}


<a href="/users/{{user._id}}/playlists/new" >Add New Playlist</a>