

<h2>{{user.name}}'s Profile</h2>

<div class="clearfix">
<a href="/users/{{user._id}}/playlists" class="back-to-user">Back to {{user.name}}'s Playlists</a>

</div>

{{!-- {{#each user}} --}}
<ul>

<li class="profile-item"><span class="profile-info"> Name: </span> {{user.name}}</li>

<li class="profile-item"><span class="profile-info"> Username: </span>{{user.username}}</li>

<li class="profile-item"><span class="profile-info"> Password: </span>{{user.password}}</li>
</ul>





{{!-- {{/each}} --}}


 <form action="/users/{{user._id}}?_method=DELETE" method="POST">
<input type="submit"  class="btn btn-danger btn-sm" value="Delete User">
</form>
