<h2>User Profile</h2>
{{!-- {{#each user}} --}}
<ul>
<li>{{user._id}}</li>

<li>{{user.name}}</li>

<li>{{user.username}}</li>

<li>{{user.password}}</li>
</ul>

{{!-- {{/each}} --}}


 <form action="/users/{{user._id}}?_method=DELETE" method="POST">
<input type="submit"  class="btn btn-danger" value="Delete User">
</form>
